<!DOCTYPE html>
<html>
<head>
    <title>Chat Application</title>
    <style>
        body {
            margin-right: auto;
            margin-left: auto;
            width: 50%;
        }
        .chat__parent {
            display: flex;
        }
        .chat__parent_col {
            flex: 1;
            border-right: 1px solid grey;
        }
        .chatbox__messages__message_from {
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            text-align: left;
            height: 40px;
        }
        .chatbox__messages__message_to {
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            text-align: right;
            height: 40px;
        }
        .online__user {
            cursor: pointer;
        }
        .online__user:hover {
            background-color: #f1f1f1;
            height: 30px;
            border: 1px solid grey;
            padding: 5px;
            border-radius: 5px;
        }
        .current__selected__user {
            background-color: #f1f1f1;
            height: 30px;
            border: 1px solid grey;
            padding: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>{{ title }}</h3>
        <hr/>

        <details>
            <summary>
                Welcome, <strong>{{ currentUser ? currentUser : 'UNKNOWN' }}</strong>!
                <br/>
                <small>(Expand to know more)</small>
            </summary>
            <pre>{{ user }}</pre>
        </details>
        <hr/>
        <div class="chat__parent" v-if="false">
            <div class="chat__parent_col">
                <h4>Chat</h4>
                <form @submit="sendMessageToUser">
                    <select v-model="message.to">
                        <option v-for="user in allUser" :value="user.username">{{ user.username }}</option>
                    </select>
                    <input type="text" v-model="message.text" placeholder="Message" />
                    <button type="submit" :disabled="!message.text">Send</button>
                </form>
            </div>
            <div class="chat__parent_col">
                <h4>Messages</h4>
                <p v-for="message in messages">{{ message }}</p>
            </div>
            <hr/>
        </div>

        <div style="display: flex">
                <div style="flex: 1; padding: 5px">
                    <strong>Select a user to be start with:</strong>
                    <hr/>
                    <p class="online__user" :class="currentSelectedUser === u ? 'current__selected__user' : ''" v-for="u in ['One','Two','User']" @click="chatToUser(u)">{{u}}</p>
                </div>
                <div style="flex: 2; border-left: 1px solid blue; padding: 5px">
                    <user-chat-box :user="currentSelectedUser" v-if="currentSelectedUser"></user-chat-box>
                    <p v-else> Please Select a user in the left to do some action!</p>
                </div>
        </div>
    </div>

    <template id="user__chat__box">
        <h4>{{ user }}</h4>
        <div class="chatbox__messages">
            <p class="chatbox__messages__message_from">Hi</p>
            <p class="chatbox__messages__message_from">how are you ?</p>
            <p class="chatbox__messages__message_from">Shell we mee?</p>
            <p class="chatbox__messages__message_to">Hello</p>
        </div>
        <hr/>
        <div class="chatbox__form">
            <form @submit="(e) => e.preventDefault()">
                <input style="width: 80%; height: 40px;" type="text" placeholder="Message" />
                <button style="width: 15%; height: 45px; margin-left: 5px" type="submit">Send</button>
            </form>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref , onMounted} = Vue
        const apiHost = 'http://localhost:8080'

        const UserChatBox = {
            props: ['user'],
            emits: [],
            template: '#user__chat__box',
            setup() {
                //Bring all the messages from the server
                //Deal with current incoming and outgoing messages

                onMounted(() => {
                })

                return {

                }
            }
        }

        createApp({
            setup() {
                const title = ref('Chat Application')
                const message = ref({
                            to: null,
                            text: null,
                            from: null
                        })
                const stompClient = ref(null)
                const currentUser = ref(null)
                const user = ref({})
                const allUser = ref([])
                const messages = ref([])
                const currentSelectedUser = ref(null)

                const connect = (userName) => {
                    const socket = new SockJS(`${apiHost}/ws`);
                    stompClient.value = Stomp.over(socket);
                    stompClient.value.connect({}, function (frame) {
                        console.log('Connected frame: ' + frame);
                        const headers = { 'auto-delete': true, 'x-message-ttl': 6000, id: userName}

                        stompClient.value.subscribe(`/user/queue/private`, (subscribeMessage) => {
                            messages.value.push(JSON.parse(subscribeMessage.body));
                        }, headers);

                        stompClient.value.subscribe(`/topic/public`, (subscribeMessage) => {
                            messages.value.push(JSON.parse(subscribeMessage.body));
                        });
                    });
                }

                const sendMessage = (message={}) => {
                    stompClient.value.send("/app/chat.sendMessage", {}, JSON.stringify(message));
                }

                const me = () => {
                    fetch(`${apiHost}/me`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            user.value = data
                            currentUser.value = data.name
                            connect(currentUser.value)
                        })
                        .catch(error => {
                            console.error('There has been a problem with your fetch operation:', error);
                        });
                }

                const fetchAllUser = () => {
                    fetch(`${apiHost}/all/user`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            allUser.value = data
                        })
                }

                const sendMessageToUser = (event) => {
                    event.preventDefault()
                    sendMessage({...message.value, from: currentUser.value })
                    message.value = {
                        to: null,
                        text: null,
                        from: null
                    }
                }

                const chatToUser = (user) => {
                    console.log('Chat to user:', user)
                    currentSelectedUser.value = user
                }

                onMounted(() => {
                    me()
                    fetchAllUser()
                })

                return {
                    title, message, currentUser, user, allUser, messages, currentSelectedUser,
                    sendMessageToUser, chatToUser
                }
            },
            components: {
                UserChatBox
            }
        }).mount('#app')
    </script>
</body>
</html>
