<!DOCTYPE html>
<html>
<head>
    <title>Chat Application</title>
    <style>
        body {
            margin-right: auto;
            margin-left: auto;
            width: 50%;
        }
        .chat__parent {
            display: flex;
        }
        .chat__parent_col {
            flex: 1;
            border-right: 1px solid grey;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>{{ title }}</h3>
        <hr/>

        <details>
            <summary>Welcome, {{ currentUser ? currentUser : 'UNKNOWN' }}. Expand this to know more!</summary>
            <pre>{{ user }}</pre>
        </details>
        <hr/>
        <div class="chat__parent">
            <div class="chat__parent_col">
                <h4>Chat</h4>
                <form @submit="sendMessageToUser">
                    <select v-model="message.to">
                        <option v-for="user in allUser" :value="user.username">{{ user.username }}</option>
                    </select>
                    <input type="text" v-model="message.text" placeholder="Message" />
                    <button type="submit" :disabled="!message.text">Send</button>
                </form>
            </div>
            <div class="chat__parent_col">
                <h4>Messages</h4>
                <p v-for="message in messages">{{ message }}</p>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref , onMounted} = Vue
        const apiHost = 'http://localhost:8080'
        createApp({
            setup() {
                const title = ref('Chat Application')
                const message = ref({
                            to: null,
                            text: null,
                            from: null
                        })
                const stompClient = ref(null)
                const currentUser = ref(null)
                const user = ref({})
                const allUser = ref([])
                const messages = ref([])

                const connect = (userName) => {
                    const socket = new SockJS(`${apiHost}/ws`);
                    console.log(socket)
                    stompClient.value = Stomp.over(socket);
                    console.log(stompClient.value)
                    stompClient.value.connect({}, function (frame) {
                        console.log('Connected: ' + frame);
                        const headers = { 'auto-delete': true}
                        stompClient.value.subscribe(`/user/queue/private`, (subscribeMessage) => {
                            console.log(`user private message : ${subscribeMessage}`)
                            messages.value.push(JSON.parse(subscribeMessage.body));
                        }, headers);

                        stompClient.value.subscribe(`/topic/public`, (subscribeMessage) => {
                            console.log(subscribeMessage)
                            messages.value.push(JSON.parse(subscribeMessage.body));
                        });
                    });
                }

                const sendMessage = (message={}) => {
                    stompClient.value.send("/app/chat.sendMessage", {}, JSON.stringify(message));
                }

                const me = () => {
                    fetch(`${apiHost}/me`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            user.value = data
                            currentUser.value = data.name
                            console.log(currentUser.value)
                            connect(currentUser.value)
                        })
                        .catch(error => {
                            console.error('There has been a problem with your fetch operation:', error);
                        });
                }

                const fetchAllUser = () => {
                    fetch(`${apiHost}/all/user`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            allUser.value = data
                        })
                }

                const sendMessageToUser = (event) => {
                    event.preventDefault()
                    sendMessage({...message.value, from: currentUser.value })
                    message.value = {
                        to: null,
                        text: null,
                        from: null
                    }
                }

                onMounted(() => {
                    me()
                    fetchAllUser()
                })

                return {
                    title, message, currentUser, user, allUser, messages, sendMessageToUser
                }
            }
        }).mount('#app')
    </script>
</body>
</html>
